<nav class="navbar navbar-expand-lg navbar-light bg-success">
  <div class="container-fluid">
    <a class="navbar-brand text-white" style="cursor: pointer;" (click)="clickHome()">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-white" style="cursor: pointer;" (click)="clicAlunos()">Alunos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-white" style="cursor: pointer;" (click)="clicAvaliacoes()">Avaliações</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-white" style="cursor: pointer;" (click)="clicFrequencias()">Frequências</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="image-custom" style="height: 100%;">
  <div style="background-color: #ececec9c;">
    <container-element [ngSwitch]="appService.pageActive">
      <some-element *ngSwitchCase="appService.page.ALUNO">
        <app-aluno></app-aluno>
      </some-element>
      <some-element *ngSwitchCase="appService.page.AVALIACAO">
        <app-avaliacao></app-avaliacao>
      </some-element>
      <some-element *ngSwitchCase="appService.page.FREQUENCIA">
        <app-frequencia></app-frequencia>
      </some-element>
    </container-element>
  </div>
</div>

